<div class="parent-div pt-3">
  <div class="input-group mb-3">
    <input [(ngModel)]="hospitalName" (input)="inputToGetHospital()"
           (keyup)="clickToSelectHospital($event)" (keydown.backspace)="clickBackSpace()"
           placeholder="Name of the hospital" list="hospitals" maxlength="25"
           class="input-group-text col-md-8 form-control mr-1" id="hospital"/>
    <div class="input-group-append">
      <label class="input-group-text pr-3" id="basic-addon2" for="hospital">Hospital</label>
    </div>
  </div>
  <datalist id="hospitals" *ngIf="hospitalNames && hospitalNames.length; else noHospital">
    <div *ngIf="!hospital">
      <option *ngFor="let hos of hospitalNames" [value]="hos">{{hos}}</option>
    </div>
  </datalist>
  <ng-template #noHospital>
    <div class="alert alert-warning m-0 col-md-8" *ngIf="hospitalName">{{hospitalName}} not found</div>
  </ng-template>
  <div *ngIf="hospital">
    <app-speciality-search [hospital]="hospital"></app-speciality-search>
  </div>
</div>
