<app-header></app-header>

<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>
<app-authentication *ngIf="!authService.isLogged"></app-authentication>
<app-footer></app-footer>
