<div class="parent-div pt-3">
  <div class="input-group mb-3">
    <input [(ngModel)]="specialityName" (input)="inputToGetSpeciality()"
           (keyup)="clickToSelectSpeciality($event)" (keydown.backspace)="clickBackSpace()"
           placeholder="Any speciality" list="specialities" maxlength="25"
           class="input-group-text col-md-8 form-control mr-1" id="speciality"/>
    <div class="input-group-append">
      <label class="input-group-text" id="basic-addon2" for="speciality">Speciality</label>
    </div>
  </div>
  <datalist id="specialities" *ngIf="specialitiesInHospital && specialitiesInHospital.length; else noSpeciality">
    <div *ngIf="!doctorSpeciality">
      <option *ngFor="let spec of specialitiesInHospital" [value]="spec">{{spec}}</option>
    </div>
  </datalist>
  <ng-template #noSpeciality>
    <div class="alert alert-warning m-0 col-md-8" *ngIf="specialityName">{{specialityName}} not found</div>
  </ng-template>
  <app-doctor-search [hospital]="hospital"
                     *ngIf="doctorSpeciality" [doctorSpeciality]="doctorSpeciality"></app-doctor-search>
  <app-doctor-search *ngIf="!doctorSpeciality" [hospital]="hospital"></app-doctor-search>
</div>
