.referral_page {
    position: relative;
    color: white;
}

.head_referral_page {
    margin: 1%;
    background: none;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 15px;
}

.user_navbar {
    position: absolute;
    top: 8px;
    left: 16px;
}

.block {
    display: inline-block;
    margin-right: 25px;
}

.referral {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    margin-bottom: 20px;
    max-width: 300px;
    min-height: 100px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    color: black;
}
