<div *ngIf="authenticationService.isLogged">
  <div class="referral_page">
    <img src="assets/images/background_image_of_user_page.jpg" alt="image" style="width:100%;">

    <div class="user_navbar">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand rounded-sm text-light" routerLink="/user">User</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav bg-transparent">
            <a class="nav-item nav-link active text-light" routerLink="/referral">Referral <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-light" routerLink="/history-visit">Histori <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-light" routerLink="/active-queue-place">Active place <span
              class="sr-only">(current)</span></a>
          </div>
        </div>
      </nav>
    </div>

    <div class="head_referral_page">
      <h2> Referral</h2>
      <div *ngFor="let referral of referrals" class="block">
        <div class="referral">
          <div>User: {{ referral.customerName }}</div>
          <div>Doctor from: {{ referral.doctorFromName }}</div>
          <div>Doctor to: {{ referral.doctorToName }}</div>
          <div>Expiration date: {{ referral.expirationDate.toLocaleDateString() }}</div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
            Description
          </button>
          <div class="collapse" id="description">
            <div class="card card-body">
              <div class="text-dark">Description: {{ referral.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
